<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let contact of contacts | async">
      <ion-item>
        <p>
          <span style='font-size: 25px; font-weight: bold'>{{contact.name}}</span>
          <br>
          {{contact.tel}}
        </p>
      </ion-item>

      <ion-item-options side="start" style='margin-top: 17px'>
        <ion-button color="secondary" (click)="editContact(contact)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="removeContact(contact.key)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newContact()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
